[Desktop Entry]
Version=1.0
Type=Application
Name=MyScript
Exec=gnome-terminal -- bash -c "docker run -it --rm -v $(pwd):/mnt -v $(pwd)/tmp/logs:/logs anonymize-mfer-jcho:amd64"
Icon=utilities-terminal
Terminal=false